#results {
  margin-top: @spacing_xx-large;
  margin-bottom: @spacing_xx-large;
}

.result {
  .result-template {
    font-weight: bold;
    text-transform: uppercase;
    color: @text-muted-color;

    & + .result_header { margin-top: 0; }
  }
  .result_header {
    margin-bottom: @spacing_small;
  
    .favicon {
      width: 16px;
      height: 16px;
    }
  }
  .subheader > :not(:last-child), .subheader > * > :not(:last-child) {
    margin-right: @spacing_large; 
  }
  .result-content {
    margin-top: @spacing_medium;
    margin-bottom: @spacing_small;

    p {
      margin-top: @spacing_medium;
      margin-bottom: @spacing_medium;
    }
  }

  &.result-torrent {
    .extra-info > :not(:last-child) { margin-right: @spacing_large; }
  }
  
  .external-link {
    font-size: @fontsize_small;
    color: #39a441;
  }

  .extra-info {
    color: @text-muted-color;
  }
}

.result.result-default, .result.result-torrent {
  margin-bottom: @spacing_xx-large;
}
.result.result-images {
  display: inline;

  .img-thumbnail {
    width: 100%;
    border: none;
    margin-bottom: @spacing_medium;
  }
}

#results.image-gallery {
  display: flex;
  flex-wrap: wrap;

  .result.result-images {
    display: block;
    flex: 20%;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
  }
}
@supports(display: grid) {
  #results.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: @spacing_medium;
  
    .result.result-images {
      display: block;
      text-align: center;
      overflow: hidden;

      .img-thumbnail {
        height: 100%;
        width: auto;
      }
    }
  } 
}
#default_images_container {
  column-count: 5;
  column-gap: @spacing_medium;

  .img-thumb-link {
    display: block;
    max-height: 120px;
    overflow: hidden;
  }
}


#suggestions, #corrections {
  form {
    display: inline-block;
    .btn { text-transform: none; }
  }
}


.infobox {

  margin-top: @spacing_xx-large;

  .head {
    .title {
      font-size: @fontsize_x-large;
      margin-top: 0;
      margin-bottom: 0;
    }
    small { color: @text-muted-color; }
  }

  .body {
    .main-content {
    }
    .image-container {
      max-height: 250px;
      overflow: hidden;
      text-align: center;
    }
    .content { flex: 3; }

    img {
      max-width: 100%;
      width: 100%;
      margin-top: @spacing_large;
    }
  }

  .footer {

  }
}

#image_result_mini_gallery_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tablet-mq({
  #results.image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    .result.result-images {
      height: 140px;
      max-height: 140px;
    }
  }
});