
.result.result-default {
  margin-bottom: 32px;
}

.result_header {
  margin-bottom: 8px;

  a {

  }

  .favicon {
    width: 16px;
    height: 16px;
  }
}
.result-content {
  margin-bottom: 2px;
}

.external-link {
  color: #39a441;
}

.infobox {

  border-radius: @corner-radius;

  .panel-heading {
    background-color: transparent;
    border: none;
    padding-top: 16px;
    padding-bottom: 0px;
  }

  img {
    margin-top: 18px;
    width: 100%;
  }

  .panel-title {
    font-size: 22px;
    color: @text-color-hl;
  }
}

.extras {
  margin-top: 48px;
}

.result-images {
  display: inline;
}
#results.image-gallery {
  column-count: 7;
  column-gap: @spacing_medium;
}
#default_images_container {
  column-count: 5;
  column-gap: @spacing_medium;
}
.img-thumbnail {
  width: 100%;
  border: none;
  margin-bottom: @spacing_medium;
}
