{% macro category_widget(category) -%}
<input class="hidden" type="radio" id="checkbox_{{ category|replace(' ', '_') }}" name="category" value="{{ category }}" {% if category == selected_category %}checked="checked"{% endif %} />
<label for="checkbox_{{ category|replace(' ', '_') }}">{{ _(category) }}</label>
{%- endmacro -%}

{% set main_categories = ["general", "images", "news"] %}

<div id="categories" {% if rtl %} class="rtl" {% endif %}>
{% for category in categories %}
    {% if category in main_categories + [selected_category] %}
        {{ category_widget(category) }}
    {% endif %}
{% endfor %}

    <div id="more_categories_container">
        <input type="checkbox" name="more_categories_toggle" id="more_categories_toggle" class="hidden">
        <label for="more_categories_toggle" id="show_more_categories">{{_("More")}}</label>
        <label for="more_categories_toggle" id="show_less_categories">{{_("Less")}}</label>
        <span id="show_more_categories_" class="hidden">{{_("More")}}</span>
        <span id="show_less_categories_" class="hidden">{{_("Less")}}</span>
        <div id="more_categories">
        {% for category in categories %}
        {% if not (category in main_categories + ["map"] or category == selected_category) %}
            {{ category_widget(category) }}
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
